/*
*
  Fonts
*
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400,700");


/*
*
  Colors
*
*/
$color-eee: #eeeeee;
$color-393: #393939;
$color-link-active: #50CF9C;


/*
*
  Mixins
*
*/
@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-direction {
  display: flex;
  flex-direction: row;
}